/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  display: flex;
  justify-content: center;
}
.col-1-4 {  
  width: 20%;
  display: flex;
  justify-content: center;
}
.module {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  color: #eee;
  height: 100px;
  width: 160px;
  background-color: #c22424;
  border-radius: 5px;
}
.module:hover {
  transform: scale(1.02);
  transition: 0.4s;
  background-color: #eee;
  cursor: pointer;
  color:  #c22424;
}
.grid-pad {
  padding: 10px 0;
} 
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    max-height: 75px; }
  .grid {
    display: contents;
  }
  .col-1-4 {  
    width: 20%;
    display: contents;
    
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}